




h1 welcome to solulab page

 form(id="form-signup")
 input(type="text" id="un" value="username" placeholder="username")
 br
 input(type="text" id="em" value="email" placeholder="email")
 br
 input(type="text"  id="mn" value="mobileno" placeholder="mobileno")
 br
 input(type="password" id="pw" value="password" placeholder=".....")
 br
 input(type="button"  value="submit")

 script(src='/js/signup.js')

 script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js')
 









  
   